<%=render 'application/header'%>

<div class="all-second-header">
  <h1> All Experiences <span class="count"> (<%=Experience.total_experiences%>)<span> </h1>
  <div class="add-experience">
    <%=link_to "/experiences/new" do%><h3> + Add Experience <%end%></h3>
  </div>
</div>

<div class="page-content">
  <div class="all-experiences">
    <%Experience.all.sort{|a,b| b.id <=> a.id}.each do |experience|%>
      <%=link_to "/users/#{experience.user_id}/experiences/#{experience.id}" do%>
        <div class ="experience-individual">
          <div class="top">
            <h3><%=experience.titlelize%></h3>
          </div>

          <div class="list-image">
            <%if experience.user.avatar.present?%>
              <%=image_tag experience.user.avatar.url(:large) %>
            <%else%>
              <div class="gray">
              </div>
            <%end%>
          </div>


            <div class="circle">
            </div>


          <%=link_to "/users/#{experience.user_id}" do%>
            <h4><%=experience.user.first_name.capitalize%></h4>
          <%end%>
          <%if experience.user == current_user%>
            <%=link_to "/users/#{experience.user_id}/experiences/#{experience.id}/edit" do%>
              <p class="list-edit">edit</p>
            <%end%>
          <%end%>
        </div><!--experience-individual-->
      <%end%>
    <%end%>
  </div><!--all-experiences-->
</div><!--page-content-->
